@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
a:link {
  color: inherit; /* no blue default link color */
  text-decoration: none;
}

a:visited {
  color: inherit; /* no purple visited links */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "space mono", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: hsl(185, 41%, 84%);
  font-weight: 700;
  margin: 0;
}

.logo {
  margin: 30px;
  width: 20%;
}

.card {
  background-color: hsl(0, 100%, 100%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 30px;
  min-width: 24em;
  height: auto;
}

h1, h2, .select-tip {
  font-size: 0.9em;
  color: hsl(186, 14%, 43%);
}

h2, .select-tip {
  margin: 20px 0;
}

input[type=number] {
  background-color: hsla(185, 41%, 84%, 0.3);
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  width: 100%;
  background-size: 12px;
  color: hsl(183, 100%, 15%);
  text-align: right;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
}

input[type=number]:focus {
  outline: solid 2px hsl(172, 67%, 45%);
}

input[type=number]:hover {
  outline: solid 2px hsla(172, 67%, 45%, 0.6);
}

.bill {
  background-image: url(../images/icon-dollar.svg);
  background-position: left 10px center;
  background-repeat: no-repeat;
}

.select-tip {
  text-align: left;
  display: block;
}

.people {
  background-image: url(../images/icon-person.svg);
  background-position: left 10px center;
  background-repeat: no-repeat;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin: 10px 10px 10px 0;
  padding: 0;
  border: none;
}

.tip {
  padding: 8px 35px 8px 50px;
  color: hsl(0, 100%, 100%);
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  font-size: 1.4em;
  width: 100%;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.tip:hover {
  background-color: hsla(172, 67%, 45%, 0.6);
  color: hsl(183, 100%, 15%);
}

.tip:checked {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/* ACTIVE STATES occur on 
1. bill input field (cyan border) 
2. :checked radio input buttons
3. custom entry 
4. reset button 
*/
/* INVALID STATE on no. of people input */
.custom {
  background-color: hsl(189, 47%, 97%);
  cursor: text;
  padding: 8px 0;
  border-radius: 5px;
  color: hsl(186, 14%, 43%);
  font-size: 1.4em;
  text-align: right;
}

.custom:focus {
  outline: solid 2px hsl(172, 67%, 45%);
}

.custom:hover {
  outline: solid 2px hsla(172, 67%, 45%, 0.6);
}

.totals {
  background-color: hsl(183, 100%, 15%);
  border-radius: 12px;
  padding: 20px 30px;
  margin: 25px 0;
  height: auto;
}
.totals h2 {
  color: hsl(0, 100%, 100%);
}

p {
  color: hsl(186, 14%, 43%);
  font-size: 0.8em;
  margin-top: -10px;
}

.reset {
  background-color: hsl(172, 67%, 45%);
  text-align: center;
  color: hsl(183, 100%, 15%);
  font-family: "space mono", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 85px;
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  min-width: 100%;
  cursor: pointer;
}

.reset:hover {
  background-color: hsl(172, 67%, 45%);
}

footer {
  margin: 20px 0;
  color: hsl(186, 14%, 43%);
  text-align: center;
  font-size: 0.5em;
}/*# sourceMappingURL=input.css.map */